.label {
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.label-important {
	background-color: #b94a48;
}

.label-warning {
	background-color: #f89406;
}

.label-success {
	background-color: #468847;
}

.label-info {
	background-color: #3a87ad;
}
